{% extends 'base.html' %}
{% block content %}

<h3 class="center-align">Skill Details</h3>

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card blue-grey">
      <div class="card-content white-text">
        <span class="card-title">{{ skill.description }}</span>
        <p>Level: {{ skill.get_level_display }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'skills_update' skill.id %}" class="btn">Edit</a>
        <a href="{% url 'skills_delete' skill.id %}" class="btn red">Delete</a>
      </div>
    </div>
  </div>

  <div class="row"></div>

  <div class="row">
    <div class="col s8 offset-s2">
      <h3 class="center-align">Notes</h3>
        <form method="POST">it a
          {% csrf_token %}
          {{ note_form.as_p }}
          <input type="submit" class="btn" value="Add Note">
        </form>
        <br><br>
      {% for note in skill.note_set.all %}
      <div class="card teal">
          <div class="card-content white-text">
            <p>{{ note.content }}</p>
            <p class="right-align">{{ note.date }}</p> 
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
</script>
{% endblock %}