{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h3 class="center-align">Edit <span class="teal-text">{{ object.description }}</span></h3>
  {% else %}
    <h3 class="center">Add a Skill</h3>
  {% endif %}    
  <div class="row">
  <form action="" method="POST" class="col s9 offset-s1">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" class="btn" value="{{ object|yesno:'Update Skill, Add Skill' }}"></input>
  </form>
  </div>

  <script>
    const selectEl = document.getElementById('id_level');
    M.FormSelect.init(selectEl);
  </script>
{% endblock %}