{% extends 'base.html' %}
{% block content %}

<h3 class="center-align">My Skills</h3>

{% for skill in skill_list %}
<div class="row">
  <div class="col s6 offset-s3 no-margin">
    <!-- name argument w/n each path is used to obtain the correct URL in templates using DTL's url template tag -->
    <a href="{% url 'skills_detail' skill.id %}">
      <div class="card-panel center-align blue-grey hoverable">
        <!-- double curly brace syntax is used to print the values of variables and object properties. -->
        <span class="white-text">{{ skill.description }}</span>
      </div>
    </a>
  </div>
</div>
{% endfor %}

{% endblock %}