body {
  height: 100vh;
  font-family: 'Source Code Pro';
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

div.card-panel {
  padding: 16px;
  margin-bottom: 4px;
}

div.row {
  margin-bottom: 0;
}